body {
    background-color: #f8f8f8;

}

.mainPage {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -50px, 0);


    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.title {
    font-size: 3rem;
    padding-left: 48px;
}

p {
    font-size: 1.2rem;
}

#home {

    margin-top: 10vh;

    margin-bottom: 40vh;
}

#projects {

    margin-bottom: 40vh;


}

#about {
    margin-bottom: calc(100vh - 50vh);
}


.to-top {

    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 0px;
    left: 90vw;


    opacity: 0;
    pointer-events: none;
    animation: initialBounce 2s infinite;
    transition: all 0.4s;
    transition: left 0s 0s;
}

.welcome {
    text-indent: 50px;
    letter-spacing: 1.5px;
    line-height: 2.3;
    padding: 48px;
}

.about {
    line-height: 2;
    padding: 24px;
    padding-bottom: 0;
}

.skills {
    padding: 24px;
    padding-top: 0;
    line-height: 3;
}

#chevron {
    color: black;
}



.to-top.active {

    bottom: 0px;
    pointer-events: auto;
    opacity: 1;


}

@keyframes initialBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-5px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.to-top.active:hover {

    animation: none;
    /* Stop the initial bouncing animation on hover */
}



@media (max-width: 600px) {
    #home {
        margin-top: 5vh;
        margin-bottom: 10vh;

    }

    #projects {
        margin-bottom: 10vh;
    }

    #about {
        margin-bottom: 10vh;
    }
}

.head {
    font-size: 20px;
    font-weight: bold;

}


.list {
    margin-bottom: 24px;
}